@media screen and (max-width: 503px) {
  .footer-container {
    flex-direction: column !important;
  }
  .social-links-section {
    display: flex;
    align-content: center;
    align-items: center;
  }
  .payment-section {
    display: flex;
    align-content: center;
    align-items: center;
  }
}
