:root {
  --mainBrown: #2d1e1f;
  --mainYellow: rgb(255, 158, 9);
  --mainGrey: #ece8dc;
  --mainWhite: #fff;
  --mainDark: #222;
  --tirkiz: rgb(9, 242, 255);
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Courier New", Courier, monospace !important;
  letter-spacing: 0.25rem !important;
}
.text-yellow {
  color: var(--mainYellow);
}
.navbar-brand {
  transition: all 0.2s ease-in-out;
}
.navbar-brand:hover {
  transform: scale(1.05);
}
.nav-link {
  border-bottom: 3px solid transparent;
}
.nav-link:hover {
  border-bottom: 3px solid;
}
.show .nav-link {
  /*ovo je potrebno za mobilnu verziju kad su meni stavke jedna ispod druge u navbaru*/
  display: inline-block;
}
.cart-icon {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: var(--mainYellow);
  font-size: 2rem;
}
.cart-icon:hover {
  transform: scale(1.1);
}
.default-background,
.about-background {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1 !important;
  background: linear-gradient(rgba(255, 158, 9, 0.5), rgba(255, 158, 9, 0.5));
  background-position: center;
  background-size: cover;
}
.about-background {
  min-height: 60vh; /* jedina promjena u odnosu na default-background*/
}
.btn-yellow {
  /*dodaje se !important jer klasa btn pogazi svojstva ove klase*/
  color: var(--mainYellow) !important;
  border-color: var(--mainYellow) !important;
}
.btn-yellow:hover {
  background: var(--mainYellow) !important;
  color: var(--mainBrown) !important;
}
.footer {
  background: var(--mainBrown);
}
.menu,
.contact {
  background: var(--mainGrey);
}
#logo {
  width: 3rem;
  height: 3rem;
}
