:root {
  --mainBrown: #2d1e1f;
  --mainYellow: rgb(255, 158, 9);
  --mainGrey: #ece8dc;
  --mainWhite: #fff;
  --mainDark: #222;
  --tirkiz: rgb(9, 242, 255);
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Courier New", Courier, monospace !important;
  letter-spacing: 0.25rem !important;
}
.navbar-brand {
  transition: all 0.2s ease-in-out;
}
.navbar-brand:hover {
  transform: scale(1.05);
}
.nav-link {
  border-bottom: 3px solid transparent;
}
.nav-link:hover {
  border-bottom: 3px solid;
}
.show .nav-link {
  /*ovo je potrebno za mobilnu verziju kad su stavke jedna ispod druge u navbaru*/
  display: inline-block;
}
.cart-icon {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: var(--mainDark);
  font-size: 2rem;
}
.cart-icon:hover {
  transform: scale(1.1);
}

.carousel-indicators li {
  display: none;
}
.card:hover {
  transform: scale(1.02);
  transition: 0.5s ease-in-out;
}
@media screen and (max-width: 605px) {
  .perks {
    flex-direction: column;
  }
}
